/* about-me style sheet; Jeffrey Jenkins; 1-11-21 */

body{
  font-family:'Courier New', Courier, monospace;
}
header, main{
  padding: 0.3em 0.5em;
  background-color: rgb(253, 253, 244);
  width: 80%;
  margin: 1vh 10%;
  border: 2px groove rgb(82, 54, 28);
}
header{
  text-align: center;
}
h1 {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-style: oblique;
}
h2 {
  margin-top: 0.3em;
  font-size: larger;
}
ul{
  list-style: circle;
  margin-left: 1em;
}
ol{
  list-style: decimal;
  margin-left: 2em;
}
i{
  font-style: italic;
}

